pip3 install virtualenv

CORRER EN POWERSHELL AS ADMIN:
set-Executionpolicy -Executionpolicy Remotesigned -Scope CurrentUser

then:

virtualenv env


pip3 install flask flask-sqlalchemy


pip install flask-login

(env) PS C:\Users\gabri\OneDrive - University of Puerto Rico\Escritorio\Proyectos\MyDashboard\MyDashboard> $env:FLASK_APP = "main.py"    
(env) PS C:\Users\gabri\OneDrive - University of Puerto Rico\Escritorio\Proyectos\MyDashboard\MyDashboard> flask run --host=0.0.0.0 --port=5000


