<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


    <title>{% block title %}Home{% endblock %}</title>

    <!-- {% block head %}{% endblock %} -->
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('views.settings') }}">Settings <span class="sr-only">(current)</span></a>


        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('appointments.view_appointments') }}">My appointments <span class="sr-only">(current)</span></a>
        </li>
        

          
        {% if access %}

        <li class="nav-item active">


          <a class="nav-link" href="{{ url_for('auth.logout') }}">logout<span class="sr-only">(current)</span></a>


          
      </li>

        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Sign-up<span class="sr-only">(current)</span></a>    
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Login<span class="sr-only">(current)</span></a>
    </li>

        {% endif %}
        

        

        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link" href="#">Features</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link" href="#">Pricing</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item dropdown"> -->
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!-- Dropdown link -->
          <!-- </a> -->
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> -->
            <!-- <a class="dropdown-item" href="#">Action</a> -->
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
      </ul>
    </div>
  </nav>


    <!-- <ul> -->
        <!-- <li>hola</li> -->
        <!-- <li>adios</li> -->
        <!-- <li>aqui se puede ver como se esta poniendo cuando se llama a Home </li> -->
    <!-- </ul> -->

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <!-- <h2>Aqui algo despues del bloque</h2> -->
    
    
</body>
</html>